# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
AnyCPU/
build/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.appxmanifest
*.user
*.ncb
*.suo
*.tlh
*.tlb
*.bak
*.cache
*.ilk
*.log
*.nlp
*.pdb
*.pgc
*.pgd
*.sbr
*.ilk
*.dll
*.exe
*.json
*.code-workspace
.vscode/